html 
    head 
        
        title E-commerce 
    body 
        .container 
         h1#admin-title E-Commerce 
         #login-panel 
            h3 Add Menu Name 
            form(method="post" action="/admin/menu" )
                input(type="text" name="menu" placeholder="Add Menu")
                button(type="submit") Submit
    